header {
	/* height: 35px; */
	background-color: rgb(186, 243, 186);
	text-align: center;
	font-size: 20px;
	color: coral;
	padding-top: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header a:link {
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
	color: darkcyan;
}

header a:visited {
	text-decoration: none;
	color: purple;
}

#content {
	display: block;
	height: 650px;
	background-color: lightyellow;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}
#nav {
	float: left;
	padding: 5px;
}
#cards {
	width: 500px;
	height: 500px;
	background-color: azure;
	border-radius: 8px;
	border-color: grey;
	border-style: solid;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

#buttons {
	text-align: center;
	top: 70px;
	padding-top: 10px;
}
button {
	width: 100px;
	height: 30px;
	font-size: medium;
	border-radius: 5px;
	cursor: pointer;
	background-color: aliceblue; 
	margin: 5px;
}

button:hover {
	background-color: bisque;
	
}
#topics {
	/* height: 50px; */
	background-color: #F26970;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	padding: 10px;
}
#vocabs {
	text-align: center;
	font-size: x-large;
}
ul {
	list-style-type: none;
	padding: 0px;
}
h2 {
	margin: 0px;
	color: white;
}
body {
	margin: 0px!important;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.PINYINVOCAB {
	font-size: medium;
	display: inline-block;
	width: 18%;
}

.CHINESEVOCAB {
	display: inline-block;
	width: 50%;
}

.ENGLISHVOCAB {
	font-size: medium;
	display: inline-block;
	width: 22%;
}

#enTrans {
	float: right;
}

#searchBar {
	float: right;
	padding: 5px;
	margin-right: 20px;
	margin-top : -38px;
}
