header {
	background-color: rgb(186, 243, 186);
	text-align: center;
	font-size: 20px;
	color: coral;
	padding-top: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header a:link {
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
	color: darkcyan;
}

header a:visited {
	text-decoration: none;
	color: purple;
}

#content {
	display: block;
	height: 650px;
	background-color: lightyellow;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}
#nav {
	float: left;
	padding: 5px;
}
.navBtn {
	width: 100px;
	height: 30px;
}

#cards {
	width: 680px;
	min-height: 400px;
    line-height: 35px;
	background-color: azure;
	border-radius: 8px;
	border-color: grey;
	border-style: solid;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

#buttons {
	text-align: center;
	top: 70px;
	padding-top: 10px;
}

.arrowBtn {
	width: 200px;
	height: 60px;
}

#searchBar {
	float: right;
	padding: 5px;
	margin-right: 20px;
	margin-top : -38px;
}

#search {
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 0px;
	padding: 5px 5px 5px 28px;
}

button {
	font-size: medium;
	border-radius: 5px;
	cursor: pointer;
	background-color: aliceblue; 
	margin: 5px;
}

button:hover {
	background-color: bisque;
	
}
#topics {
	background-color: #F26970;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	padding: 10px;
}
#questions {
	text-align: left;
    font-size: x-large;
}

#questions ol {
	padding-left: 50px;
}

ul {
	list-style-type: none;
    padding: 0px;
    padding-left: 10px;
}

h2 {
	margin: 0px;
	color: white;
}
body {
	margin: 0px!important;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
