#allPage {
    width: 100%;
    background-color: beige;
    text-align: center;
}

#nav {
    padding: 5px;
    background-color: rgb(179, 230, 243);
}

#nav ul {
    list-style-type: none;
    padding-left: 0px !important;
}

#nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: darkolivegreen;
}

#nav a:hover {
    font-weight: bold;
}


#nav li {
    display: inline-block;
    padding: 3px;
    font-family: 'Amita';
}

body {
    margin: 0px !important;
}

#years, #months, #days, #hours, #minutes, #seconds {
    display: inline-block;
    font-size: 40px;
    font-family: 'Coiny';
    margin: 10px;
    width: 60px;
}

/* footer */
footer {
    font-family: 'Blinker';
    font-size: small;
    padding: 5px;
}