vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\301040475
vti_modifiedby:SR|CENCOL\\301040475
vti_timelastmodified:TR|22 Feb 2019 16:33:56 -0000
vti_timecreated:TR|22 Feb 2019 16:33:56 -0000
vti_cacheddtm:TX|22 Feb 2019 16:33:56 -0000
vti_filesize:IR|1874
vti_cachedlinkinfo:VX|S|images/trilliumbg.gif S|images/trillium.gif S|images/trilliumfoot.gif S|images/trilliumminibanner.jpg
vti_cachedsvcrellinks:VX|FSUS|Week07/images/trilliumbg.gif FSUS|Week07/images/trillium.gif FSUS|Week07/images/trilliumfoot.gif FSUS|Week07/images/trilliumminibanner.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week07/Week07.html
