vti_encoding:SR|utf8-nl
vti_author:SR|TONY3E87\\tony
vti_modifiedby:SR|TONY3E87\\tony
vti_timelastmodified:TR|19 Apr 2019 05:01:39 -0000
vti_timecreated:TR|10 Apr 2019 23:06:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|TermProject/6CedarcrestDr.html TermProject/33WarrenCres.html TermProject/Home.html TermProject/AboutBrian.html TermProject/TeamProjectTemplate.dwt TermProject/SiteMapandCreditsPage.html TermProject/PropertyListings.html TermProject/666BeresfordAve.html TermProject/Contact.html TermProject/60YorkviewDr.html TermProject/581WillardAve.html
vti_nexttolasttimemodified:TW|17 Apr 2019 04:13:58 -0000
vti_cacheddtm:TX|19 Apr 2019 05:01:39 -0000
vti_filesize:IR|2685
vti_cachedlinkinfo:VX|S|images/Toronto.png
vti_cachedsvcrellinks:VX|FSUS|TermProject/images/Toronto.png
