vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\301040475
vti_modifiedby:SR|CENCOL\\301040475
vti_timelastmodified:TW|29 Mar 2019 17:33:44 -0000
vti_timecreated:TR|29 Mar 2019 16:52:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week11/PinkSandsBeach\\ .html Week11/Anguilla.html Week11/PinkSandsBeach.html Week11/PhiPhiIsland.html Week11/Whitehaven\\ Beach.html Week11/WhitehavenBeach.html Week11/Week11Template.dwt Week11/Home.html
vti_nexttolasttimemodified:TW|29 Mar 2019 17:33:44 -0000
vti_cacheddtm:TX|29 Mar 2019 17:33:44 -0000
vti_filesize:IR|790
vti_cachedlinkinfo:VX|S|images/BeachTripHeader.png
vti_cachedsvcrellinks:VX|FSUS|Week11/images/BeachTripHeader.png
