vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\301040475
vti_modifiedby:SR|CENCOL\\301040475
vti_timelastmodified:TW|15 Feb 2019 17:19:33 -0000
vti_timecreated:TR|15 Feb 2019 16:20:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week06/Week06.html
vti_nexttolasttimemodified:TW|15 Feb 2019 17:19:33 -0000
vti_cacheddtm:TX|15 Feb 2019 17:19:33 -0000
vti_filesize:IR|1349
vti_cachedlinkinfo:VX|S|images/trilliumbanner.jpg S|images/trilliumgradient.png S|images/trilliumbg.gif S|images/trillium.gif S|images/trilliumfoot.gif
vti_cachedsvcrellinks:VX|FSUS|Week06/images/trilliumbanner.jpg FSUS|Week06/images/trilliumgradient.png FSUS|Week06/images/trilliumbg.gif FSUS|Week06/images/trillium.gif FSUS|Week06/images/trilliumfoot.gif
